<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICTI</title>
    <link rel="shortcut icon" href="/static/media/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="preload" href="/static/css/bootstrap-grid.min.css" as="style">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="preload" href="/static/css/style.css" as="style">
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>

    <header>
        <img src="/static/media/ictilogo.png" alt="logo" class="logo">
        <h1 class="titulo">INSTITUTO DE CIENCIA, TECNOLOGÍA E INNOVACIÓN <span> <a href="./conversor.html"> Conversor</a> </span></h1>
    </header>

    <div class="nav_bg">
        <nav class="main_nav container">
            <a href="./index.html">Inicio</a>
            <a href="./conversor.html">Conversor</a>
        </nav>
    </div>
    
    <section class="hero"> <!-- Contenedor de la cabecera-->

        <div class="contenido_hero">
        
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" class="form-control" id="file" name="file" aria-describedby="inputGroupFileAddon04"
                        aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Convertir</button>
                </div>
            </form>
        
        </div>
    </section>

    <main class="container sombra"> <!-- Contenedor con los servicios-->
        

    </main>

    <footer class="footer">
        <p>All Rights Reserved. Soft-Enix Group.</p>
    </footer>
    
</body>
</html>